<!doctype html>
<html>
<style>
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #272b34;
    font-family: 'Khula', arial;
    font-weight: 400;
    color: white;
    line-height: 6em;
    margin: 0;
  padding: 0em 0em;
}
 
</style>
 <body>
  <div id='chart' class='chart'”></div>
</body>
 
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart', graphs,{});
</script>
</html>